@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        margin: 0 auto;
    }

    /*=================================Header=========================*/

    header {
        grid-template-columns: 24px auto;
    }

    /*=================================nav=========================*/
    .hamburguer {
        display: none;
    }

    .navigation {
        display: block;
        background-color: var(--main-color);
        margin: 0;
        padding: 0.2rem;
    }

    .navigation ul {
        display: flex;
        gap: 1rem;
        list-style: none;
    }

    .navigation a {
        text-decoration: none;
        color: #ddd;
    }

    .navigation a:hover {
        background-color: var(--color-accent);
        color: var(--text-principal);
    }

    /*=================================main=========================*/

    .about-student {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        margin: .5rem .5rem .5rem .5rem;
    }

    .about-me {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .section-header {
        width: 100%;
        padding: .5rem;
        box-sizing: border-box;
    }

    #about-photo {
        text-align: center;
    }

    .btn-filter {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #courses {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .course {
        padding: .8rem;
        min-width: 220px;
        flex: 1 1 220px;
    }
}