@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburguer {
        display: none;
    }

    .navigation {
        display: block;
        background-color: var(--main-color);
        margin: 0;
        padding: 0.2rem;
    }

    .navigation ul {
        display: flex;
        gap: 1rem;
        list-style: none;
    }

    .navigation a {
        text-decoration: none;
        color: #ddd;
    }

    .navigation a:hover {
        background-color: var(--color-accent);
        color: var(--text-principal);
    }
}