@media (min-width: 641px) and (max-width: 1024px) {

    .places-grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .place-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;

        grid-template-areas:
            "image title"
            "image description"
            "image address"
            "image button";

        padding: 1rem;
    }

    .place-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
}