@media only screen and (min-width: 38rem) {
    .hamburguer {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: none;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .navigation a {
        padding: 0.5rem 1rem;
        border-radius: 6px;
    }

    .container-sections {
        grid-template-columns: 2fr 1fr 1fr;
        align-items: stretch;
    }

    #company-spotlights .members {
        flex-direction: row;
        justify-content: space-between;
    }

    #company-spotlights .member-card {
        flex: 1;
        max-width: 32%;
        margin: 0;
    }

}