/*=============================Color Schema=======================*/

:root {
    --main-color: #813A8D;
    --text-color: #F3F3F3;
    --highlight-clor: #2E2E2E;
}

/*=================================Site Wide=========================*/

* {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

/*=================================Header=========================*/

h1 {
    text-align: center;
    color: var(--highlight-clor);
}

/*=================================Cards=========================*/

#cards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    color: var(--text-color);
}

#cards section {
    background-color: var(--main-color);
    border-radius: 10px;
    margin: 1rem 1rem 0 1rem;
}

#cards img {
    width: 100%;
    height: auto;
    padding: 1rem;
}