@media only screen and (min-width: 38rem) {

    /*=================================Cards=========================*/

    #cards {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}