:root {
    --text-light: #fff;
    --text-dark: #424447;
    --principal-color: #654321;
    --secundary-color: #F3E9DC;
    --third-color: #706454;
}

/*=================================Site Wide=========================*/
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*=================================Header=========================*/

header,
footer {
    text-align: center;
    background-color: var(--principal-color);
    color: var(--text-light);
    padding: 1rem;
    text-shadow: 0 0 5px #000;
    border-top: 5px solid var(--secundary-color);
    border-bottom: 5px solid var(--secundary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*=======Header logo=========*/
.img-logo img {
    width: 120px;
    height: auto;
    display: block;
}

/*=========Header Nav=============*/
nav {
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: var(--secundary-color);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.2s ease;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

nav ul.open {
    max-height: 500px;
    opacity: 1;
}

nav ul a {
    text-decoration: none;
    color: var(--text-dark);
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

nav ul a:hover,
nav ul a:focus {
    color: var(--text-light);
    background-color: var(--text-dark);
}

/*=================================Hamburger Menu=========================*/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--text-light);
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/*=================================Index: Hero image=========================*/

.hero {
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/*===============================Index: Random dishes section===========================*/

.menu-section h1,
.title-contact {
    text-align: center;
    color: var(--text-dark);
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 2rem;
    padding: 0.5rem 0;
}

.card {
    display: grid;
    grid-template-areas:
        "title"
        "img"
        "ingredients";
    grid-template-columns: 1fr;
    align-items: center;
    background-color: var(--principal-color);
    padding: 1rem;
    border-radius: 8px;
    margin: .5rem;
    color: var(--text-light);
}

.card h3 {
    grid-area: title;
}

.card img {
    grid-area: img;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.card p {
    grid-area: ingredients;
}

@media (max-width: 768px) {
    #menu-short .card:nth-child(n+4) {
        display: none;
    }

    /*=========menu: full menu===========*/

    #menu-cards {
        max-width: 450px;
    }

}

/*===============================Index: schedule section===========================*/

.schedule {
    background-color: var(--third-color);
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: var(--text-light);
    margin: .5rem;
}

.schedule h2 {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--text-light);
    display: inline-block;
    padding-bottom: 0.3rem;
}

.hours-container .full-week {
    font-weight: 500;
    color: var(--text-light);
    font-size: 1.1rem;
}

.desktop-only-schedule {
    display: none;
    width: 100%;
    aspect-ratio: 1051 / 699;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 8px;
}

/*===============================Index: review section===========================*/

.reviews {
    background-color: #fde0bc;
    padding: 2rem 1rem;
    border-radius: 12px;
    margin: .5rem;
    max-width: 900px;
}

.reviews h2 {
    text-align: center;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.review-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    flex: 1 1 250px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: .3rem;
}

.reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review-rating {
    color: #f5a623;
    background-color: var(--text-dark);
    border-radius: 5px;
    padding: 5px;
}

/*===============================Index: Weather section===========================*/

.weather {
    background-color: #8ac6ff;
    padding: 2rem 1rem;
    border-radius: 12px;
    max-width: 800px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: .5rem;
}

/*===============================Menu: Full menu===========================*/

#menu-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 2rem 1rem;
}

#menu-cards .card {
    width: 100%;
    gap: 0.5rem 1rem;
}

/*===============================Menu: Recommendation===========================*/

.recommendation {
    text-align: center;
    color: var(--text-dark);
}

.recommendation button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease;
    color: var(--text-light);
    background-color: var(--third-color);
}


.recommendation button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/*==============================Contact: Form==============================*/

form {
    margin: .5rem;
}

.form-h1 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: var(--principal-color);
    margin-bottom: 2rem;

}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: "Roboto", sans-serif;
}

fieldset {
    border: 1px solid var(--third-color);
    padding: 1.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--secundary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

legend {
    font-weight: 600;
    padding: 0 0.5rem;
    color: var(--principal-color);
}

label {
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    gap: 0.3rem;
    color: var(--text-dark);
}

input,
select,
textarea {
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid var(--third-color);
    width: 100%;
    box-sizing: border-box;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

input[type="submit"] {
    margin-top: 1rem;
    align-self: flex-start;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: var(--principal-color);
    color: var(--text-light);
    font-weight: 600;
}

input[type="submit"]:hover {
    background-color: #20b338;
    color: var(--text-light);
}

/*===============================Modal===========================*/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    background-color: var(--secundary-color);
    margin: 10% auto;
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.3s ease;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ff0000;
}

.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

/*===============================Footer===========================*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

footer li {
    margin: 10px;
    text-align: center;
}

footer a {
    color: var(--text-light);
}